<h1>List Of Products</h1>

<%# <%= debug @Products %>
<%# this below same like above %>
<%# <%= @Products.to_yaml %>
<%# this is same like above %>
<%# <%= simple_format @Products.to_yaml %> 
<%# this is for debug but the looks different with above %>
<%# <%= @Products.inspect %> %>

<table class="table">
    <thead>
    <tr>
        <td>Product ID</td>
        <td>Product Name</td>
        <td>Quantity</td>
        <td>Units In Stock</td>
        <td>Discountinued</td>
        <td>Cost</td>
    </tr>
    </thead>

    <tbody>
        <% @Products.each do |product| %>
            <tr>
                <td><%= product[:productID] %></td>
                <td><%= product[:productName] %></td>
                <td><%= product[:quantity] %></td>
                <td><%= product[:unitsInStock] %></td>
                <td><%= product[:disContinued] %></td>
                <td><%= product[:cost] %></td>
            </tr>
        <% end %>
    </tbody>
</table>